@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap');

:root {
  --text-color: #52489C;
  --bg-color: #fafaff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html {*/

/*  background-color: var(--bg-color);*/
/*}*/

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track-piece {
    width: 5px;
}

body::-webkit-scrollbar-track{
  background: #fafaff;
}

body::-webkit-scrollbar-thumb{
  background: #99E1D9;
}

.main {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--bg-color);
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}


/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/* Nav */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s ease-in-out;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s ease-in-out;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.toggle:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #000;
}

.toggle:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #000;
}

.main.active header .toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.main.active .toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main.active {
    transform: translateX(-200px);
}

.navigation {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: #40c3ff;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s ease-in-out;
}

.navigation .active {
    right: 0;
}

.navigation ul {
    position: relative;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.navigation ul li {
    list-style: none;
    padding-bottom: 2em;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

/* Footer */

.footer {

  width: 100%;
  margin: 0;

}

.footer a img{

  width: 30px;
  height: 30px;

}

.footer p {

  font-size: .9em;

}



/* Pages */


/*Greet */

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;

  /*grid-template-rows: 30% 30% 30%;*/
  /*grid-template-columns: 25% 25% 25% 25% ;*/
  /*grid-gap: 10px;*/


  margin: 0;
  padding: 7rem;
  text-align: justify;
}

.greet-title {
  /*grid-column-start: 1;*/
  /*grid-column-end: 5;*/
  /*grid-row-start: 1;*/
  /*grid-row-end: 1;*/

  justify-self: start;
  align-self: center;
  text-align: left;
}

.greet-body {

  /*grid-column-start: 1;*/
  /*grid-column-end: 4;*/
  /*grid-row-start: 2;*/
  /*grid-row-end: 2;*/
}

.greet-icon {
  /*grid-column-start: 4;*/
  /*grid-column-end: 5;*/
  /*grid-row-start: 2;*/
  /*grid-row-end: 3;*/

}

/* About */

.about-title {
  /*grid-column-start: 2;*/
  /*grid-column-end: 5;*/
  /*grid-row-start: 1;*/
  /*grid-row-end: 1;*/

  justify-self: start;
  align-self: center;
  text-align: left;
}

.about-body {

  /*grid-column-start: 2;*/
  /*grid-column-end: 4;*/
  /*grid-row-start: 2;*/
  /*grid-row-end: 2;*/

  justify-self: center;
}

.about-icon {
  /*grid-column-start: 4;*/
  /*grid-column-end: 5;*/
  /*grid-row-start: 2;*/
  /*grid-row-end: 4;*/

  justify-self: center;
  align-self: center;
}

.about-icon img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* Work */

.work-panel {

  /*grid-row-start: 2;*/
  /*grid-row-end: 4;*/
  /*grid-column-start: 2;*/
  /*grid-column-end: 4;*/

  background-color: #ecf0f1;
  box-shadow: 0 8px 6px -6px #7f8c8d;



  padding: 3%;
  overflow: hidden;
  /*background-color: #fb0;*/
}

.work-title {

  /*grid-row-start: 1;*/
  /*grid-row-end: 1;*/
  /*grid-column-start: 2;*/
  /*grid-column-end: 3;*/

}

.works {

  /*grid-row-start: 2;*/
  /*grid-row-end: 2;*/
  /*grid-column-start: 3;*/
  /*grid-column-end: 5;*/

  border-bottom: black solid 2px;
  padding-bottom: 2rem;
}
























.work-menu {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  overflow: visible;
}

.next {
  padding: 10px;
}

.menu-bar {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.menu-01 {
  flex: 1;
  width: 1px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
}

.menu-01-text {
  width: 25px;
  height: 36px;
  overflow: visible;
  color: #f90;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1.2;
  font-weight: 800;
  font-style: normal;
  text-align: left;
}

.menu-02 {
  flex: 1;
  width: 1px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
}

.menu-02-text {
  width: 25px;
  height: 36px;
  overflow: visible;
  color: #f90;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1.2;
  font-weight: 800;
  font-style: normal;
  text-align: left;
}

.divider {
  width: 100%;
  height: 4px;
  overflow: hidden;
  background-color: #f90;
  border-radius: 2px;
}


.content {
  width: 300%;
  height: 786px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.menu-01-content {
  box-sizing: border-box;
  flex: 1;
  width: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 50px 50px 50px;
  overflow: visible;
}

.frame {
  width: 100%;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
}